@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
    scroll-behavior: smooth;
}

.public-site {
    font-family: 'Montserrat', sans-serif;
}

.public-site p {
    font-family: 'Neuton', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 1.25rem;
    color: #e5e7eb;
}

.public-site h1,
.public-site h2,
.public-site h3 {
    font-weight: bolder;
    color: #e5e7eb
}

.public-site h1 {
    font-family: 'Allison', serif;
    font-size: xxx-large;
}

.public-site h2 {
    font-size: xx-large;
}

.public-site h3 {
    font-size: x-large;
}

.public-site p {
    font-size: large;
}

.public-site span {
    font-size: medium;
}

@media (min-width: 1024px) {
    .public-site h1 {
        font-size: 5rem;
    }

    .public-site h2 {
        font-size: 3.5rem;
    }

    .public-site h3 {
        font-size: 2.5rem;
    }

    .public-site p {
        font-size: 1.5rem;
    }

    .public-site span {
        font-size: 1.25rem;
    }
}

.volto-background {
    float: right;
    height: auto;
    shape-outside: url('../public/assets/Subject_1.png');
    shape-image-threshold: 0.1;
    shape-margin: 40px;
    opacity: 1;
    pointer-events: none;
    margin-right: -10%;
    margin-top: -5%;
}

.testo-biografia {
    position: relative;
    z-index: 20;
}
